<!-- index.html  -->
<!-- should extend base template-->
<!-- should implement title block-->
<!-- should implement content block-->
<!-- should display the message with respective message level-->
<!-- should display a one-column title area, which should display the title XXX's diary-->
<!-- if already login, should display the user's diary at most 3 diaries per row -->
<!-- should use bootstrap panel to show the details of each diary, which include the date, text, extra informations-->
<!-- if not diary yet, display a message-->

{% extends "base.html" %}
{% block title %}首页{% endblock %}

{% block details %}
<div class='container'>
    {% for msg in messages %}
    <div class="alert alert-{{msg.tags}}">{{ msg }}</div>
    {% endfor %}
    <div class='row'>
        <div class='col-md-12'>
            <div class='panel panel-default'>
                <div class='panel-heading' align=center>
                    {% if username %}
                    <h2>{{ username }}的私人日记</h2>
                    {% else %}
                    <h2>我的私人日记</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% for diary in diaries %}
    {% cycle "<div class='row'>" "" "" %}
        <div class='col-md-4'>
            <div class='panel panel-primary'>
                <div class='panel-heading' align=center>
                {{ diary.date }}
                </div>
                <div class='panel-body' title="{{ diary.note }}">
                {{ diary.note | linebreaks | truncatechars:200 }}
                </div>
                <div class='panel-footer'>
                今日花费：{{ diary.budget }}元，体重：{{ diary.weight }}公斤
                </div>
            </div>
        </div>
    {% cycle "" "" "</div>" %}
    {% empty %}
    <div class="panel panel-warning">
        <div class='panel-heading' align=center>
            <h3 style="font-size: 20px"><em>您还没输入日记或是未登录网站</em></h3>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}