<!-- login.html -->
<!-- should extend base template-->
<!-- should implement title block-->
<!-- should implement content block-->
<!-- should display the message with respective message level-->
<!-- should display a one-column title area, which should display the title Please login-->
<!-- if already login, should display the login form -->

{% extends "base.html" %}
{% block title %}登录{% endblock %}

{% block details %}
<div class="container">
    <div class='row'>
        <div class='col-md-12'>
            <div class='panel panel-default'>
                <div class='panel-heading' align=center>
                    <h3>登录我的私人日记</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form name='login' action='/login' method='POST'>
                <table class="table table-hover">
                    {{ loginform.as_table }}
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}"/>
                    <td><input class="btn btn-primary" type="submit" value="登录"/></td>
                    <td></td>
                </table>
            </form>
        </div>
    </div>
    {% for msg in messages %}
    <div class="alert alert-{{msg.tags}}" style="margin-top: 20px;">{{ msg }}</div>
    {% endfor %}
</div>


{% endblock %}