<!-- userinfo.html -->
<!-- should extend base template-->
<!-- should implement title block-->
<!-- should implement content block-->
<!-- should display the message with respective message level-->
<!-- should display a one-column title area, which should display the title XXX's information-->
<!-- should display a one-column user profile data area, including username, and extra profile data-->
<!-- should display the extra user profile data input form so that user could modify them-->

{% extends "base.html" %}
{% block title %}个人资料{% endblock %}

{% block details %}
{% load staticfiles %}
<div class="container">
    <div class='row'>
        <div class='col-md-12'>
            <div class='panel panel-default'>
                <div class='panel-heading' align=center>
                    <h3>{{ username }}的个人资料</h3>
                </div>
            </div>
        </div>
    </div>
    {% for msg in messages %}
    <div class="alert alert-{{msg.tags}}">{{ msg }}</div>
    {% endfor %}
    <div class="row">
        <div class="col-md-6">
            <form action='/userinfo' method="post">
                <table class="table table-hover">
                    <tr height="45px">
                        <th width="40%">用户名:</th>
                        <td>{{username}}</td>
                    </tr>
                    {% if not profile_form %}
                    <tr height="45px">
                        <th>性别:</th>
                        <td>{% if gender == 1 %}女{% else %}男{% endif %}</td>
                    </tr>
                    <tr height="45px">
                        <th>身高(cm):</th>
                        <td>{{height}}</td>
                    </tr>
                    <tr height="45px">
                        <th>个人主页:</th>
                        <td>{{personal_page_url}}</td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-primary" id="modify">修改资料</button>
                        </td>
                        <td></td>
                    </tr>
                    {% else %}
                    {% csrf_token %}
                    {{ profile_form.as_table }}
                    <input type="hidden" name="user" value="{{ user }}"/>
                    <td><input class="btn btn-primary" type="submit" value="提交" name="_submit"/></td>
                    <td></td>
                    {% endif %}

                </table>
            </form>
        </div>
    </div>
</div>
<script>
    $(function() {
        $("#modify").click(function(){
            window.location.href='?modify=1'
        });
    });




</script>
{% endblock %}